.chatBlockTable {
    border-collapse: collapse;
    width:90vw;
    background: #c0c0c0;
    color: #202020;
    border-style: 3px solid #d0d0d0;
}

.chatBlockH2 {
    text-align:center;
}

.chatMsgSender {
    color: #2020f0;
}